body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:100vh;
}

header {
    text-align: center;
    padding: 15px;
  }

h1 {
    text-align: center;
    font-size: 50px;
    color: #d268a8;
    margin:100px;
}

main {
    display:flex;
    flex-grow: 1;
}

section, aside {
    border-radius: 12px;
    text-align: center;
    margin: 5px;
    font-size:50px;
  }

  section {
    flex-grow: 1;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
  }

aside {
    display: flex;
    flex-direction: column;
    margin: 15px;
    /*border: 35px solid rgb(192, 196, 255);*/
    align-content: space-between;
}

.gamestatus {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
}

.gameboard {
    display: flex;
    justify-content: center;
}
 
.game-row:first-child>.game-cell{
    border-top-width: 0px;
} 
.game-row:last-child>.game-cell{
    border-bottom-width: 0px;
}

.game-cell:first-child{
    border-left-width: 0px;
}

.game-cell:last-child{
    border-right-width: 0px;
}

.game-row {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: center;
}

.game-cell {
    flex: 1;
    padding:50px;
    border: 5px solid rgb(192, 196, 255);
}

.game-element {
    display: flex;
    justify-content: center;
    min-width:50px;
    min-height:50px;
    font-size: 40px;
}


 .game-cell:hover .game-element{
    background-color:rgb(192, 196, 255);
} 

#player1, #player2, #player1score, #player2score, #game-status{
    color: #d268a8;
}

.button {
    color: #d268a8;
}

footer{
    text-align: right;
    padding: 15px;
    color: #d268a8;
}