body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:100vh;
}

header {
    text-align: center;
  }

h1 {
    text-align: center;
    font-size: 50px;
    color: #d268a8;
    font-family: cursive;
}

main {
    display:flex; 
}

section, aside {
    border-radius: 12px;
    text-align: center;
    margin: 5px;
    font-size:25px;
  }

  section {
    flex-grow: 1;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
  }

aside {
    display: flex;
    flex-direction: column;
    margin: 15px;
    justify-content:space-evenly;
    flex:.5;
}

.gamestatus {
    display: flex;
    flex:1;
    flex-direction: column;
    border-radius: 12px;
    font-family: cursive;
    align-items: center;
    justify-content: center;
    font-size: 25px;

}
.buttons {
    display: flex;
    justify-content: space-evenly;
}

.gameboard {
    display: flex;
    justify-content: center;
}
 
.game-row:first-child>.game-cell{
    border-top-width: 0px;
} 
.game-row:last-child>.game-cell{
    border-bottom-width: 0px;
}

.game-cell:first-child{
    border-left-width: 0px;
}

.game-cell:last-child{
    border-right-width: 0px;
}

.game-row {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: center;
}

.game-cell {
    flex: 1;
    padding:50px;
    border: 5px solid rgb(192, 196, 255);
}

.game-element {
    display: flex;
    justify-content: center;
    min-width:50px;
    min-height:50px;
    font-size: 40px;
    color: #d268a8;

}

/*.game-cell:hover .game-element{
    background-color:rgb(192, 196, 255);
} */

.game-cell:hover>.game-element{
    background-color:rgb(192, 196, 255);
} 

#player1, #player2, #player1score, #player2score, #game-status, .button, #draw{
    color: #d268a8;
    font-family: cursive;
}

#game-history {
    display:flex;
    flex:1;
    flex-direction: column;
    color: #d268a8;
    font-family: cursive;
    align-items: flex-start;
}

.button {
    font-weight: bold;
}

#history {
    text-align: left;
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

footer{
    padding: 15px;
    color: #d268a8;
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}